html * {
    -webkit-font-smoothing: antialiased;
}
input::placeholder {
    /*color: bla;*/
}
a:focus, textarea:focus, input:focus{
    outline: none;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
input{
    border: none;
}
.b{
    border: 1px solid black;
}
.bl{
    border: 1px solid blue;
}
.y{
    border: 5px solid yellow;
}
.space{
    height: 40px;
}
.theme-button{
    padding: 10px 30px;
    color: white;
    background: #cc6600;
    border-radius: 3px;
}
.hidden{
    display: none;
}