<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<!--navigation bar start-->
<div class="nav-bar-large">nav-bar-large</div>
<div class="nav-bar-start-small">nav-bar-start-small</div>
<a href="" id="nav-expand-lnk" class="nav-expand-lnk">
    exp lnk
</a>
<div class="nav-bar-expand-small" id="nav-bar-expand-small">
    nav-bar-expand-small
</div>
<!--navigation bar end-->

<!--body view start-->
<div class="body-view b">
    <div class="body-seg1 bl">
        <div class="space"></div>
        body
    </div>
</div>
<!--body view end-->

<!--footer start-->
<div class="footer">
<!--footer end-->

<script>

    $("#nav-expand-lnk").click(function(){
        $("#nav-bar-expand-small").show();
    });

</script>

</body>
</html>