<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>www.samadhaan.com</title>
    <link rel="stylesheet" type="text/css" href="/resources/core/css/document.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--header start-->
<nav class="navbar navbar-expand-md fixed-top navbar-light"
     style="border-bottom: 2px solid #cc6600;">
    <a class="navbar-brand" href="#">
        Samadhaan
    </a>
</nav>
<!--header end-->

<div class="container">
    <div class="row">
        <div class="col-12" style="">
            <div style="height: 80px;"></div>
        </div>
        <div class="col">
            <div>My Profile</div>
            <div>Email : qwertyraghav@gmail.com</div>
            <form>
                <div id="nameDiv">
                    <div id="addNameLink">Add your name</div>
                    <div>
                        Name : Raghvendra Mishra
                        <img src="/resources/image/application/edit.png" id="nameEditLink">
                    </div>
                </div>
                <div class="hidden" id="nameEditForm" style="display: none">
                    <input type="text" name="fname">
                    <input type="text" name="lname">
                    <input type="submit">
                    <a href="#" id="nameEditCancel">
                        <img src="/resources/image/application/cancel.png">
                    </a>
                </div>
                <div id="phoneNoDiv">
                    <div id="addPhoneNoLink">Add your phone no</div>
                    <div>
                        Phone No : 8527385848
                        <img src="/resources/image/application/edit.png" id="phoneNoEditLink">
                    </div>
                </div>
                <div class="hidden" id="phoneNoEditForm" style="display: none;">
                    <input type="text" name="phoneNo">
                    <input type="submit">
                    <a href="#" id="phoneNoEditCancel">
                        <img src="/resources/image/application/cancel.png">
                    </a>
                </div>
            </form>
            <div id="changePasswordDiv">
                <a href="#">
                    <img src="/resources/image/application/edit.png">
                    Change Password
                </a>
            </div>
            <div id="changePasswordFormDiv"  class="hidden" style="display: none;">
                <form>
                    <input type="text"><br/>
                    <input type="text"><br/>
                    <input type="text"><br/>
                    <input type="submit">
                </form>
            </div>
            <div class="hidden">Deactivate account</div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        //for name
        $("#addNameLink").click(function(){
            $("#nameEditForm").show();
            $("#nameDiv").hide();
        });
        $("#nameEditLink").click(function(){
            $("#nameEditForm").show();
            $("#nameDiv").hide();
        });
        $("#nameEditCancel").click(function(){
            $("#nameEditForm").hide();
            $("#nameDiv").show();
        });
        //for phone no
        $("#addPhoneNoLink").click(function(){
            $("#phoneNoEditForm").show();
            $("#phoneNoDiv").hide();
        });
        $("#phoneNoEditLink").click(function(){
            $("#phoneNoEditForm").show();
            $("#phoneNoDiv").hide();
        });
        $("#phoneNoEditCancel").click(function(){
            $("#phoneNoEditForm").hide();
            $("#phoneNoDiv").show();
        });
        //for password
        $("#changePasswordDiv").click(function(){
            $("#changePasswordFormDiv").toggle();
        });
    });
</script>
</html>