<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>www.samadhaan.com</title>
    <link rel="stylesheet" type="text/css" href="/resources/core/css/document.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--header start-->
<nav class="navbar navbar-expand-md fixed-top navbar-light"
     style="border-bottom: 2px solid #cc6600;">
    <a class="navbar-brand" href="#">
        Samadhaan
    </a>
</nav>
<!--header end-->

<div class="container">
<div class="row">
    <div class="col" style="text-align: center;">
        <div style="height: 80px;"></div>
        <div><img src="/resources/image/application/sorry.png"></div>
        <div><h3>Sorry !!</h3></div>
        <div><h2>Internal Error.</h2></div>
    </div>
</div>
</div>


<div style="text-align: center"><div><img src="/resources/image/application/fin_icon.svg"/></div><br/><br/>
    <div style="opacity: 0.8"><h4>You have registered successfully. Click below to verify your email id.</h4></div><br/>
    <div><a href="localhost:8080/verifyEmail?emailKey=xyz">
        <span style="color: white; background: #cc6600; padding: 10px 20px; border-radius: 3px;">Verify Email</span></a></div>
</div>

</body>
</html>