@media screen and (max-width: 500px) {
    .nav-bar-large{
        display: none;
    }
    .nav-bar-start-small{}
    .nav-bar-expand-small{
        display: none;
    }
    .nav-expand-lnk{}
}
@media screen and (min-width: 501px) {
    .nav-bar-large{
        background-color: transparent;
        color: #fff;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1030;
    }
    .nav-bar-start-small{
        display: none;
    }
    .nav-bar-expand-small{
        display: none;
    }
    .nav-expand-lnk{
        display: none;
    }
}
.b{
    border: 1px solid black;
}
.bl{
    border: 1px solid blue;
}
div{
    font-size: 50px;
}
.body-seg1{
    height: 500px;
    background-image: url("wp1.jpg");
}
.space{
    height: 40px;
}